"# .NET Core & Visual Studio"  
"bin/"  
"obj/"  
"Debug/"  
"Release/"  
"*.user"  
"*.userosscache"  
"*.vspscc"  
"*.suo"  
"*.cache"  
"*.tmp"  
"_ReSharper.Caches/"  
"*.log"  
"*.diag"  
"*.db"  
"*.lock"  
"*.pdb"  
"*.dll"  
"*.exe"  
"appsettings.Development.json"  
"PublishProfiles/"  
"ServiceDependencies/"  
"TestResults/"  
".vs/" 
"**/obj/" 
"**/bin/" 
"**/Debug/" 
"**/Release/" 
"*.log" 
"Logs/" 
".vs/" 
